beautifulsoup4==4.4.1
Flask==0.10.1
Flask-SQLAlchemy==2.1
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
marshmallow==2.6.0
mechanize==0.2.5
pbr==1.10.0
psycopg2==2.6.1
pyflakes==1.0.0
PySocks==1.5.6
requests==2.9.1
schedule==0.3.2
six==1.10.0
SQLAlchemy==1.0.12
stevedore==1.16.0
Werkzeug==0.11.3
