{% extends "layout.html" %}
{% block content %}
<div id="map" style="width: 90%; height: 800px; position: absolute;">
	<div id="map-canvas"></div>
</div>

<script type="text/javascript">	
	var heatmapData = [];
	var flitsers = {{ flitsers|tojson }}[0];
	// flitsers = flitsers[0]

	for (var i = 0; i < flitsers.length; i++) {
		var flitser = new google.maps.LatLng(
			flitsers[i].locatie_lat, 
			flitsers[i].locatie_lon
		);
		heatmapData.push(flitser);
	}

	var Nederland = new google.maps.LatLng(52.13263300000001, 5.2912659999999505);

	map = new google.maps.Map(document.getElementById('map'), {
		center: Nederland,
		zoom: 8,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	});

	var heatmap = new google.maps.visualization.HeatmapLayer({
		data: heatmapData
	});
	heatmap.setMap(map);
	heatmap.set('radius', 60);
	heatmap.set('dissipating', true);
</script>
{% endblock %}
