<!DOCTYPE html>
<html lang='nl'>
  <head>
    <title>Flitserdata</title>
    <!-- Google -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91086519-1', 'auto');
      ga('send', 'pageview');
    </script>
    <meta name="google-site-verification" content="rPd_8-8p1_nA3N9IlwZnjhcjmtqRzLXuhVQrTgYAkEA" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- CDNs -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- local libs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iThing.css') }}" type="text/css" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE9wWbKXYDuTXwLnA9hfJcBeq-F40YH58&libraries=visualization"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jQDateRangeSlider-min.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment-with-locales.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}" defer></script>
    <!-- custom JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}" defer></script>
    <!-- mobile viewport rendering -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
     
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>Flitserdata <small>Data over flitsers in Nederland</small></h1>
          </div>
        </div>
      </div>
      
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>