<!DOCTYPE html>
<html lang='nl'>
  <head>
    <title>Flask App</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- mobile viewport rendering -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE9wWbKXYDuTXwLnA9hfJcBeq-F40YH58&libraries=visualization"></script>
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">Flitsers heatmap</h1>
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>