{% extends "index.html" %}
{% block content %}
    <script type="text/javascript">
        backendData = {
          todays_speed_cams: {{ context.flitsers_today|tojson|safe }},
          first_speed_cam_date: {{ context.first_flitser.datum|tojson|safe }},
          datasets: {{ context.datasets|tojson|safe }},
          time_slots: {{ context.time_slots|tojson|safe }},
          mapbox_access_token: {{ context.mapbox_acess_token|tojson|safe }},

          getSpeedingCamData(date_min, date_max) {
            return new Promise((resolve, reject) => {
              $.ajax({
                url: '/get_chart_data',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                data: {start: date_min, stop: date_max},
                success: function (data) {
                  resolve(data);
                },
                error: function () {
                  reject('Failed to load new data!')
                }
              });
            })
          }
        }
    </script>

    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div id="map"></div>
            </div>

            <div class="row extra-space">
                <div class="col-sm-12 text-center">
                    <div id="slider"></div>
                </div>
            </div>

            <div class="row extra-space">
                <div class="col-sm-12 text-center">
                    <button type="button"
                            id="this_year"
                            class="btn btn-primary btn-lg btn_width period_button"
                            data-unit="year"
                    >
                        Dit jaar
                    </button>
                    <button type="button"
                            id="this_month"
                            class="btn btn-primary btn-lg btn_width period_button"
                            data-unit="month"
                    >
                        Deze maand
                    </button>
                    <button type="button"
                            id="this_week"
                            class="btn btn-primary btn-lg btn_width period_button"
                            data-unit="week"
                    >
                        Deze week
                    </button>
                    <button type="button"
                            id="today"
                            class="btn btn-primary btn-lg btn_width period_button"
                            data-unit="day"
                    >
                        Vandaag
                    </button>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-center">
                    <button type="button"
                            id="last_year"
                            class="btn btn-primary btn-lg btn_width period_button"
                            data-unit="year"
                            data-subtract_type="year"
                            data-subtract="1"
                    >
                        Vorig jaar
                    </button>
                    <button type="button"
                            id="last_month"
                            class="btn btn-primary btn-lg btn_width period_button"
                            data-unit="month"
                            data-subtract_type="month"
                            data-subtract="1"
                    >
                        Vorige maand
                    </button>
                    <button type="button"
                            id="last_week"
                            class="btn btn-primary btn-lg btn_width period_button"
                            data-unit="week"
                            data-subtract_type="week"
                            data-subtract="1"
                    >
                        Vorige week
                    </button>
                    <button type="button"
                            id="yesterday"
                            class="btn btn-primary btn-lg btn_width period_button"
                            data-unit="day"
                            data-subtract_type="days"
                            data-subtract="1"
                    >
                        Gisteren
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <table class="table">
                <tr>
                    <td>Vandaag:</td>
                    <td>{{ context.flitsers_today|length }} flitsers</td>
                </tr>
                <tr>
                    <td>Totaal aantal gemeten flitsers:</td>
                    <td>{{ context.flitsers_total_count }}</td>
                </tr>
                <tr>
                    <td>Gemeten sinds:</td>
                    <td>{{ context.first_flitser.datum }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm12">
            <div class="row">
                <canvas id="chart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
{% endblock %}
